html, body {
  height: 100%;
  width: 100%;
}
body {
  background: #F7F7F7;
}
a {
  color: #FF8080;
}
a:hover {
  color: #FF5555;
}
h1, h2 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 5rem;
  letter-spacing: -0.1rem;
}
div, p {
  font-family: 'Raleway', sans-serif;
}
.space-top {
  padding-top: 20px;
}

.link-unstyled:hover {
  text-decoration: none;
}
.link-unstyled:active {
  text-decoration: none;
  border: inherit;
  border-radius: inherit;
  outline: inherit;
  box-shadow: inherit;
}
.link-unstyled:focus {
  text-decoration: none;
  border: inherit;
  border-radius: inherit;
  outline: inherit;
  box-shadow: inherit;
}


.btn-orange:hover {
  background-color: #803a19;
  color: #2b1308;
}
.btn-orange {
  background-color: #aa4d22;
  color: #2b1308;
}
.text-orange:hover {
  color: #803a19;
}
.text-orange {
  color: #aa4d22;
}
.border-orange {
  color: #aa4d22;
}
.bg-orange {
  background-color: #aa4d22;
}

.btn-mossgreen:hover {
  background-color: #5e8767;
  color: #151e17;
}
.btn-mossgreen {
  background-color: #354C3A;
  color: #151e17;
}
.text-mossgreen:hover {
  color: #5e8767;
}
.text-mossgreen {
  color: #354C3A;
}
.border-mossgreen {
  color: #354C3A;
}
.bg-mossgreen {
  background-color: #354C3A;
}

.btn-yellow:hover {
  background-color: #a87e24;
  color: #2a2009;
}
.btn-yellow {
  background-color: #d29e2d;
  color: #2a2009
}
.text-yellow:hover {
  color: #a87e24;
}
.text-yellow {
  color: #d29e2d;
}
.border-yellow {
  color: #d29e2d;
}
.bg-yellow {
  background-color: #d29e2d;
}

.btn-blue:hover {
  background-color: #28353e;
  color: #141b1f;
}
.btn-blue {
  background-color: #3C4F5C;
  color: #141b1f;
}
.text-blue:hover {
  color: #28353e;
}
.text-blue {
  color: #3C4F5C;
}
.border-blue {
  color: #3C4F5C;
}
.bg-blue {
  background-color: #3C4F5C;
}
.text-light-blue {
  color: #93a9b8;
}


.btn-red:hover {
  background-color: #3b1118;
  color: #140608;
}
.btn-red {
  background-color: #591a25;
  color: #140608;
}
.text-red:hover {
  color: #3b1118;
}
.text-red {
  color: #591a25;
}
.border-red {
  color: #591a25;
}
.bg-red {
  background-color: #591a25;
}

.btn-purple:hover {
  background-color: #17161d;
  color: #000000;
}
.btn-purple {
  background-color: #292735;
  color: #000000;
}
.text-purple:hover {
  color: #17161d;
}
.text-purple {
  color: #292735;
}
.border-purple {
  color: #292735;
}
.bg-purple {
  background-color: #292735;
}
.bg-dark-purple {
  background-color: #17161d;
}
.text-dark-purple:hover {
  color: #17161d;
}
.text-dark-purple {
  color: #17161d;
}

.btn-cream:hover {
  background-color: #b8b1ad;
  color: #292624;
}
.btn-cream {
  background-color: #dbd8d6;
  color: #292624;
}
.text-cream:hover {
  color: #b8b1ad;
}
.text-cream {
  color: #dbd8d6;
}
.border-cream {
  color: #dbd8d6;
}
.bg-cream {
  background-color: #dbd8d6;
}

.btn-whatsapp:hover {
  background-color: #1b6426;
}
.btn-whatsapp {
  background-color: #268c36;
}
.text-whatsapp {
  color: #268c36;
}
.border-whatsapp {
  color: #268c36;
}
.bg-whatsapp {
  background-color: #268c36;
}

.btn-facebook:hover {
  background-color: #22345d;
  border-color: #22345d;
}
.btn-facebook {
  background-color: #3b589e;
  border-color: #3b589e;
}
.text-facebook:hover {
  color: #16501f;
}
.text-facebook {
  color: #3b589e;
}
.border-facebook {
  color: #3b589e;
}
.bg-facebook {
  background-color: #3b589e;
}
.landing-date {
  color: #a19c97;
}
#home {
  background: url("images/cover.jpg") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: top;
}
.landing-text-big {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-top: 300px;
}
.landing-text-big h1 {
  font-family: 'Carter One', cursive;
  font-size: 800%;
  -webkit-text-stroke: 1px #aba5a0;
}
.landing-text-big h2 {
  font-family: 'Carter One', cursive;
  font-size: 450%;
  -webkit-text-stroke: 1px #aba5a0;
}
.landing-text-small {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-top: 300px;
}
.landing-text-small h1 {
  font-family: 'Carter One', cursive;
  font-size: 500%;
  -webkit-text-stroke: 1px #aba5a0;
}
.landing-text-small h2 {
  font-family: 'Carter One', cursive;
  font-size: 250%;
  -webkit-text-stroke: 1px #aba5a0;
}
.tips {
  font-family: 'Swanky and Moo Moo', cursive;
}
.value {
  font-family: 'Roboto', sans-serif;
}
